/* Flexbox */
@mixin flex-row() {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex-col() {
  display: flex;
  flex-flow: column wrap;
}
/* Flexbox */

/* Width Height Properties */
.setWidthProp {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0em 4em;
}

@mixin wh($size) {
  width: $size;
  height: $size;
}

@mixin hundred() {
  width: 100%;
  height: 100%;
}
/* Width Height Properties */
