/* Set & Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /* Font Weight Sizes */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}
/* Set & Import Fonts */

/* Colors */
:root {
  /* Main Colors */
  --white: #f9f9f9;
  --black: #101010;
  --gray: #f6f6f6;
  --light-gold: #fbe3b5;
  --gold: #eaa720;
  --gold-dark: #da9c1e;
}

// Selection Highlights Starts
h1,
h2,
h3,
a,
p {
  &::selection {
    background: var(--light-gold);
  }
}
// Selection Highlights Ends

.txt {
  font-family: "Poppins", sans-serif;

  &-caption {
    @extend.txt;
    font-size: 0.875em;
    &-reg {
      @extend .txt-caption;
      font-weight: var(--regular);
    }
    &-med {
      @extend .txt-caption;
      font-weight: var(--medium);
    }
  }

  &-body {
    @extend .txt;
    font-size: 1em;
    &-reg {
      @extend .txt-body;
      font-weight: var(--regular);
    }
    &-med {
      @extend .txt-body;
      font-weight: var(--medium);
    }
  }

  &-title {
    @extend .txt;
    font-size: 1.5em;
    line-height: 130%;
    &-reg {
      @extend .txt-title;
      font-weight: var(--regular);
    }
    &-med {
      @extend .txt-title;
      font-weight: var(--medium);
    }
    &-semBd {
      @extend .txt-title;
      font-weight: var(--semi-bold);
    }
    &-bd {
      @extend .txt-title;
      font-weight: var(--bold);
    }
  }
}
