/* Start Initiate Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@400;500;600;700;800&display=swap");
/* End Initiate Google Fonts */

/* Start Set Family Styles */
@font-face {
  font-family: "graffiti";
  src: url("../font/mars_reg.woff2");
}
$poppins: "Poppins", sans-serif;
$lora: "Lora", serif;
/* End Set Family Styles */

/* Start Root Typography */
:root {
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --exBold: 800;
}
/* End Root Typography */

/* Start Text Size, Styles, Weight */
.txt {
  // Start Set Heading & Sub Heading
  &-display {
    font-family: graffiti;
    color: var(--primary-black);
    @include bp(tablet) {
      font-size: 16vw;
    }
    @include bp(large-desktop) {
      font-size: 13.5rem;
    }
  }

  &-heading {
    font-family: $poppins;
    font-weight: var(--bold);
    color: var(--primary-black);
    font-size: 3rem;
    @include bp(tablet) {
      font-size: 3.5rem;
    }
    @include bp(desktop) {
      font-size: 4rem;
    }
  }

  &-title {
    font-family: $poppins;
    font-weight: var(--bold);
    color: var(--primary-black);
    font-size: 1rem;

    @include bp(large-desktop) {
      font-size: 1.2rem;
    }
  }
  // End Set Heading & Sub Heading
  // Start Set Body & Caption
  &-body {
    font-family: $poppins;
    line-height: 150%;
    letter-spacing: -0.1px;

    font-size: 1rem;
  }
  // End Set Body & Caption
}

.lora {
  font-family: $lora;
  font-style: italic;
  font-weight: var(--medium);
  line-height: 1.5rem;
}
/* End Text Size, Styles, Weight */
