/* Set Font-Family */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&family=Poppins:wght@400;500;600;700&display=swap");

@font-face {
  font-family: graffiti;
  src: url("../font/mars_reg.otf"),
    url("../font/mars_reg.woff2") format("woff2"),
    url("../font/mars_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font Weight Sizes */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

/* Selection Highlight */

h1,
h2,
h3,
a,
p {
  font-weight: 100;
  &::selection {
    background: var(--light-gold);
  }
}

/* Text Styles */
.txt {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  transition: 0.3s ease;

  &-display {
    @extend .txt;
    font-family: graffiti;
    font-size: 6rem;
    line-height: 80%;

    @include bp(md) {
      font-size: 9rem;
    }
  }

  &-title {
    @extend .txt;
    font-size: 1.15em;
    font-weight: var(--bold);
  }

  &-body {
    @extend .txt;
    font-size: 1em;
    font-weight: var(--regular);

    &-m {
      @extend .txt-body;
      font-weight: var(--medium);
    }
  }
}
