.homepage {
  &-intro {
    h2 {
      padding-top: 2em;
      color: var(--black);
      a {
        display: inline-block;
        width: fit-content;
        text-decoration: underline;
        &:hover {
          color: var(--gold);
          transition: 0.3s ease;
        }
      }
    }
    p {
      padding-top: 1em;
      color: var(--black);
      opacity: 0.8;
    }
  }
  &-work {
  }
  &-footer {
    // Temp REMOVE
    bottom: 0;
    nav ul {
      @include flex-row();
      justify-content: space-between;
      width: 100%;
      li {
        a {
          text-decoration: underline;
          display: inline-block;
          &:hover {
            color: var(--gold);
          }
        }
      }
    }
  }
}
