.pjt {
  &-wrapper {
    padding-top: 6rem;
    @include bp(desktop) {
      padding-top: 12rem;
    }
  }
  &-container {
    @include grid-4();
    @include bp(tablet) {
      @include grid-12();
    }
  }
  &-heading {
    grid-row: 2;
    text-transform: capitalize;
    @include grid-start-end(1, 5);
    @include bp(tablet) {
      @include grid-start-end(2, 13);
      padding-bottom: 1rem;
    }
    @include bp(desktop) {
      padding-bottom: 1.5rem;
    }
  }
  &-title {
    border-bottom: 1px solid var(--light-black-3);
    @include grid-4();
    @include grid-start-end(1, 5);
    margin-bottom: 2rem;
    @include bp(tablet) {
      @include grid-12();
      @include grid-start-end(1, 13);
      margin-bottom: 3rem;
    }
  }
  &-subtitle {
    font-weight: var(--semiBold);
    @include bp(tablet) {
      @include grid-start-end(2, 13);
      // padding-top: 3rem;
    }
    @include bp(desktop) {
      @include grid-start-end(2, 7);
    }
  }
  &-paragraph {
    padding-top: 1rem;
    &:first-child {
      padding-top: 0rem;
    }
    @include grid-start-end(1, 5);
    @include bp(tablet) {
      @include grid-start-end(2, 13);
    }
    @include bp(desktop) {
      @include grid-start-end(2, 7);
    }
  }
  &-num {
    grid-row: 1;
    color: var(--light-black-1);
    @include grid-start-end(1, 5);
    @include bp(tablet) {
      @include grid-start-end(1, 2);
    }
  }
  &-name {
    &-wrapper {
      padding-top: 6rem;
      @include bp(desktop) {
        padding-top: 12rem;
      }
    }
    &-title {
      border-bottom: none;
    }
    &-header {
      font-weight: var(--exBold);
      text-transform: uppercase;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
      font-size: 3.5rem;
      @include bp(tablet) {
        font-size: 6rem;
      }
      @include bp(desktop) {
        font-size: 8rem;
        padding-bottom: 3rem;
      }
    }
  }
  &-img {
    &-wrapper {
      img {
        @include grid-start-end(1, 13);
        width: 100%;
      }
    }
  }
  &-brief {
    &-content {
      @include grid-start-end(1, 5);
      @include bp(tablet) {
        @include grid-start-end(1, 13);
        @include grid-12();
      }
    }
    &-title {
      color: var(--light-black-1);
      padding-bottom: 0.75rem;
      @include bp(desktop) {
        padding-bottom: 1.5rem;
      }
    }
    &-timeline,
    &-overview,
    &-role,
    &-contribution {
      @include grid-start-end(1, 5);
      padding-top: 1.5rem;
      @include bp(desktop) {
        padding-top: 0rem;
      }
    }
    &-timeline {
      padding-top: 0rem;
      @include bp(tablet) {
        @include grid-start-end(2, 7);
        padding-top: 1.5rem;
      }
      @include bp(desktop) {
        @include grid-start-end(2, 4);
        padding-top: 0rem;
      }
    }
    &-overview {
      @include bp(tablet) {
        @include grid-start-end(8, 13);
      }
      @include bp(desktop) {
        @include grid-start-end(5, 7);
      }
    }
    &-role {
      @include bp(tablet) {
        @include grid-start-end(2, 7);
      }
      @include bp(desktop) {
        @include grid-start-end(8, 10);
      }
    }
    &-contribution {
      @include bp(tablet) {
        @include grid-start-end(8, 13);
      }
      @include bp(desktop) {
        @include grid-start-end(11, 13);
      }
    }
  }
  &-summary {
    &-content {
      @include grid-start-end(1, 5);
      @include bp(tablet) {
        @include grid-12();
        @include grid-start-end(1, 13);
      }
    }
  }
  &-section {
    &-content {
      @include grid-start-end(1, 5);
      @include bp(tablet) {
        @include grid-start-end(1, 13);
        @include grid-12();
      }
    }
    &-img {
      padding-top: 1.5rem;

      @include grid-4();
      @include grid-start-end(1, 5);

      @include bp(tablet) {
        @include grid-12();
        @include grid-start-end(2, 13);
      }
      img {
        width: 100%;
        padding-top: 1.5rem;
        &:first-child {
          padding-top: 0rem;
        }
        @include grid-start-end(1, 5);
        @include bp(tablet) {
          @include grid-start-end(1, 13);
        }
      }
    }
  }
  &-next {
    &-wrapper {
      margin: 6rem auto;
      @include bp(desktop) {
        margin: 12rem auto;
      }
    }
    &-btn {
      @include grid-4();
      @include grid-start-end(1, 5);
      border-top: 1px solid var(--light-black-3);
      border-bottom: 1px solid var(--light-black-3);
      padding: 2rem 0rem;
      @include bp(tablet) {
        @include grid-12();
        @include grid-start-end(1, 13);
        padding: 4rem 0rem;
      }
      @include bp(desktop) {
        padding: 6rem 0rem;
      }
      p {
        text-align: end;
        color: var(--primary-black);
        @include grid-start-end(1, 5);
        transition: 0.3s ease;
        @include bp(tablet) {
          @include grid-start-end(1, 13);
        }
        &:first-child {
          text-transform: uppercase;
          &:hover {
            text-shadow: -6px 6px var(--base-gold);
            transform: translate(6px, -6px);
          }
        }
      }
    }
  }
}

.tp {
  &-img-1 {
    @include grid-start-end(1, 5);
    @include bp(tablet) {
      @include grid-start-end(2, 7);
    }
    img {
      width: 100%;
    }
  }
  &-img-2 {
    @include grid-start-end(1, 5);
    padding-top: 1.5rem;
    @include bp(tablet) {
      @include grid-start-end(7, 13);
      padding-top: 0rem;
    }
    img {
      width: 100%;
    }
  }
}
