body,
html {
  font-size: 16px;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Gloabl Setting*/
* {
  box-sizing: border-box;
}

/* CLear Padding */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
ol,
button,
body,
html,
img,
div {
  padding: 0em;
  margin: 0em;
  outline: none;
  word-wrap: break-word;
}

/* Clear Text Decorations & List-Styles */
ul,
li,
ol,
a {
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Display Block */
a {
  display: block;
}
